<ion-view view-title="Home">
    <!--<ion-header-bar align-title="left" class="bar-positive">-->
        <!--<div class="buttons">-->
            <!--<button class="button" ng-click="doSomething()">Left Button</button>-->
        <!--</div>-->
        <!--<h1 class="title">Title!</h1>-->
        <!--<div class="buttons">-->
            <!--<button class="button">Right Button</button>-->
        <!--</div>-->
    <!--</ion-header-bar>-->

    <ion-nav-view></ion-nav-view>

    <ion-footer-bar align-title="center" class="bar-positive" ng-if="isFooter">
        <div class="buttons" ng-click="preventMonth()">
            <button class="button"><</button>
        </div>
        <h1 class="title">{{currentMonthName}}</h1>
        <div class="buttons" ng-click="nextMonth()">
            <button class="button">></button>
        </div>
    </ion-footer-bar>
</ion-view>