<ion-view view-title="Home">
    <ion-content class="has-footer">
        <div class="card">
            <div class="item item-text-wrap">
                <span>Total expenses</span><span class="item-list-right">{{currnetExpensesSum}}</span><br>
                <span>Prevent month</span><span class="item-list-right">{{preventExpensesSum}}</span>
            </div>
            <div class="item item-text-wrap">
                <span>Total revenue</span><span class="item-list-right">{{currnetRevenueSum}}</span><br>
                <span>Prevent month</span><span class="item-list-right">{{preventRevenueSum}}</span>
            </div>
            <div class="item item-text-wrap">
                <span>Total Difference</span><span class="item-list-right">{{differentSum}}</span><br>
                <span>Prevent month</span><span class="item-list-right">{{differentPrevSum}}</span>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-positive">
        <div class="buttons" ng-click="preventMonth()">
            <button class="button"><</button>
        </div>
        <h1 class="title">{{currentMonthName}}</h1>
        <div class="buttons" ng-click="nextMonth()">
            <button class="button">></button>
        </div>
    </ion-footer-bar>
</ion-view>